---
# tasks file for sma

- include: dependencies.yml

- name: Installing plugin - sma.py
  copy:
   src: sma.py
   dest: /usr/lib64/nagios/plugins/
   mode: '755'
   
- name: Installing command definition - sma.py
  copy:
   src: sma.cfg
   dest: /usr/local/nagios/etc/conf.d/
