---
# tasks file for sma

- name: Installing plugin - yahoo_finance_data.py
  copy:
   src: yahoo_finance_data.py
   dest: /usr/lib64/nagios/plugins/
   
- name: Installing command definition - yahoo_finance_data.cfg
  copy:
   src: yahoo_finance_data.cfg
   dest: /usr/local/nagios/etc/conf.d/
